<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.design.senior.realmaster">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".DefaultActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

    <activity
        android:name=".CountdownActivity"
        android:label="@string/title_activity_settings"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:parentActivityName=".DefaultActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.design.senior.realmaster.DefaultActivity" />
    </activity>
    <!-- <activity android:name="org.achartengine.GraphicalActivity" /> -->
    <activity
        android:name=".SessionActivity"
        android:label="@string/title_activity_session"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:parentActivityName=".CountdownActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.design.senior.realmaster.CountdownActivity" />
    </activity>
    <activity
        android:name=".CompleteActivity"
        android:label="@string/title_activity_complete"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:parentActivityName=".SessionActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.design.senior.realmaster.SessionActivity" />
    </activity>
    <activity
        android:name=".SettingsActivity"
        android:label="@string/title_activity_settings"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:parentActivityName=".DefaultActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.design.senior.realmaster.DefaultActivity" />
        </activity>

        <!--Button Activity List/> -->

        <activity
            android:name=".DefaultButtonActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
 <!--           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> /> -->
        </activity>

        <activity
            android:name=".SessionButtonActivity"
            android:label="@string/title_activity_button_session"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:parentActivityName=".DefaultButtonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.design.senior.realmaster.DefaultButtonActivity" />
        </activity>
        <activity
            android:name=".ConnectedButtonActivity"
            android:label="@string/title_activity_button_connected"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:parentActivityName=".ConnectedButtonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.design.senior.realmaster.DefaultButtonActivity" />
        </activity>
        <activity
            android:name=".CompleteButtonActivity"
            android:label="@string/title_activity_button_complete"
            android:launchMode="singleTask"

            android:parentActivityName=".SessionButtonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.design.senior.realmaster.SessionButtonActivity" />
        </activity>

    </application>

</manifest>
